<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Authenticator App</title>
</head>
<body>
    <p>aplikasi autentikator app ini umumnya digunakan pada perangkat mobile user</p>
    <form action="authenticatorapp" method="post">
        <label for="secret_key">Input Your Secret Key</label><br>
        <input type="text" name="secretKey" id="secretKey"><br><br>
        <input type="submit" value="Generate OTP">
    </form>
</body>
</html>