<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Simple 2FA | Login</title>
</head>

<body>
  <h1>Login to Simple 2FA</h1>
  <form action="/login" method="post">
    <label for="email">e-mail</label><br>
    <input type="email" id="email" name="email"><br><br>
    <label for="password">password</label><br>
    <input type="password" id="password" name="password"><br><br>
    <input type="submit" value="Login">
  </form>
</body>

</html>