<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OTP</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>
<body class="bg-light">
    <div class="card mx-auto mt-5" style="width: 37rem;">
        <div class="card-body">
    <a href="/authenticatorapp" target="_blank">OTP GENERATOR:AUTHENTICATOR APP</a> -->
    <h6>Masukkan OTP yang digenerate pada authenticator app</h6>
    <form action="/dashboard" method="post">
        <div class="mb-3">
          <input type="number" class="form-control" id="otp" name="otp">
        </div>
        <div class="mb-3">
          <input type="text" class="form-control d-none" id="token" name="token" value={{ token }}>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
crossorigin="anonymous"></script>
</body>
</html>
